<a href="https://colab.research.google.com/github/musfi64/Abstraction-and-Polymorphism/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving database (3).sqlite to database (3).sqlite

In [6]:
import pandas as pd
import numpy as np
import sqlite3
database='database(3).sqlite'
conn=sqlite3.connect(database)
print('Opened data successfully')

Opened data successfully

In [7]:
df = pd.read_sql("""SELECT *
                    FROM sqlite_master
                    WHERE type='table';""", conn)
df

Empty DataFrame
Columns: [type, name, tbl_name, rootpage, sql]
Index: []

In [8]:
player_match = pd.read_sql("""SELECT *
                        FROM Player_Match""", conn)

player_match.head()

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Player_Match': no such table: Player_Match

In [9]:
player_match = pd.read_sql("""SELECT *
                        FROM Player_Match""", conn)

player_match.head()

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Player_Match': no such table: Player_Match

In [10]:
null_player_match = pd.read_sql("""SELECT *
                        FROM Player_Match
                        WHERE Team_Id IS NULL""", conn)

null_player_match

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Player_Match
                        WHERE Team_Id IS NULL': no such table: Player_Match

In [11]:
toss_dec = pd.read_sql("""SELECT *
                        FROM Match""", conn)

toss_dec.head()

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Match': no such table: Match

In [12]:
null_match = pd.read_sql("""SELECT *
                        FROM Match
                        WHERE MATCH_Winner IS NULL""", conn)

null_match

DatabaseError: Execution failed on sql 'SELECT *
                        FROM Match
                        WHERE MATCH_Winner IS NULL': no such table: Match